.toggle-button {
  position: relative;
  outline: none;
  width: 50px;
  height: 24px;
  background-color: #fff;
  border: #2c2c2c solid 2px;
  border-radius: 12px;
  cursor: pointer;
  transition: border-color 0.15s linear;

  &:before {
      content: '';
      display: block;
      position: absolute;
      background-color: #2c2c2c;
      border-radius: 50%;
      width: 17px;
      height: 17px;
      top: 50%;
      left: 2px;
      transform: translate(0, -50%);
      transition: transform 0.15s linear, background-color 0.15s linear;
  }

  &_active {
      border-color: #0b750f;

      &:before {
          background-color: #0b750f;
          transform: translate(24px, -50%);
      }
  }
}
