.auth-page {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  background-color: #2A8181;
  background-size: cover;
  border-radius: 30px;
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  &__header {
    margin-top: -20%;
    text-align: center;
    font-size: 30px;
  }

  &__mail-input, &__password-input {
    padding-inline-start: 15px;
    margin-top: 10%;
    height: 50px;
    width: 300px;
    border: none;
    background-color: #fafafa;
    border-radius: 10px;
    &:active, &:focus {
      outline: none;
    }
  }

  &__submit {
    margin-bottom: 30px;
    margin-top: 10%;
    cursor: pointer;
    color: white;
    font-size: 18px;
    height: 50px;
    width: 150px;
    background-color: #033333;
    border: none;
    border-radius: 10px;
  }

  &__link {
    text-decoration: none;
    &:link,
    &:visited,
    &:hover,
    &:focus,
    &:active {
      color: white;
    }
  }


}
