:root {
  --color-white: #fff;
  --color-e0: #e0e0e0;
  --color-c2: #c2c2c2;
  --color-4c: #4c4c4c;
  --color-2c: #2c2c2c;
  --color-2c-transparent: rgba(44, 44, 44, 0.3);
  --color-1f: #1f1f1f;
  --color-red: #c41e1e;
}
