.input {
  /* padding-inline-start: 15px; */
  margin-top: 10%;
  height: 50px;
  width: 300px;
  border: none;
  background-color: #fafafa;
  border-radius: 10px;
  cursor: pointer;

  &:active, &:focus {
    outline: none;
  }
}
